<div *ngIf="movie">
    <label>You select</label>
    <table style="width:100%">
        <tr>
          <td>
            <h5>{{movie.name}}</h5>
          </td>
          <!-- <td>name: <input [(ngModel)]="movie.name"></td> -->
        </tr>
    </table>
  </div>
