<h1>Movie details</h1>
<div><span>id:</span>{{moviess[0].id}}</div>
<div><span>id:</span>{{moviess[0].name | uppercase}}</div>
<div><span>id:</span>{{moviess[0].releaseYear}}</div>
<div style="margin: 10px; text-align:left;">
  <label>
      <input [ngModel]="moviess[0].name" class="form-control">
      <!-- tuong tu value.one-way cua aurelia -->
      <input [(ngModel)]="moviess[0].releaseYear" class="form-control">
      <!-- tuong tu value.two-way cua aurelia -->
  </label>
</div>
<div>
  <label>List movies</label>
    <!-- tuong tu repeat.for in aurelia-->
    <li *ngFor="let items of moviess"
       (click)="onSelect(items)">
        {{items.name}} - {{items.releaseYear}}
    </li>
     <!-- movies trung vs @Input() movies:Movie;-->
   <app-movie-detail [movies]="selectedMovie"></app-movie-detail>
</div>

